[submodule "redCORE"]
	path = redCORE
	url = git@github.com:redCOMPONENT-COM/redCORE.git
[submodule ".travis/coding-standards/Joomla"]
	path = .travis/coding-standards/Joomla
	url = git@github.com:joomla/coding-standards.git
[submodule ".travis/phpcs/Joomla"]
	path = .travis/phpcs/Joomla
	url = git@github.com:joomla/coding-standards.git
