[submodule "redCORE"]
	path = redCORE
	url = git@github.com:redCOMPONENT-COM/redCORE.git
[submodule ".travis/phpcs/Joomla"]
	path = .travis/phpcs/Joomla
	url = https://github.com/joomla/coding-standards
