@charset "UTF-8";
.redcore .table tr.cancelled td {
    background-color: darkorange;
}

.redcore .table-striped tbody > tr.cancelled:nth-child(2n+1) > td {
    background-color: orange;
}

.chzn-drop {
    min-width: 150px !important;
}

.chzn-container-multi .chzn-choices li.search-field input[type="text"], .chzn-container-single .chzn-single {
    width: 100% !important;
}

.redcore input[type=text], .redcore input[type=url], .redcore input[type=email] {
    height: 20px !important;
}

.redcore div.tagInsertModal.modal iframe {
    min-height: 500px;
}

.fieldline {
    margin-bottom: 7px;
}

.fieldline div.label{
    margin-bottom: 2px;
}

.redcore fieldset .control-label label {
    float:none;
}

.redcore .control-label .label-field-tip {
    font-size: 0.9em;
    font-style: italic;
}

.field-inline-error {
    font-style: italic;
    color:red;
}
